{{define "title"}}File Browser{{end}}
{{define "content"}}
<h1>File Browser</h1>
<p>Path: {{.CurrentPath}}</p>
{{if .IsDirectory }}
<h2>Sub Paths</h2>
<table class="table">
    <tr>
        <th>File Name</th>
        <th>Nav</th>
    </tr>
    {{range .SubPaths}}
    <tr>
        <td>{{.Name}}</td>
        <td>
            <a href="/fb/{{.Path}}">Nav</a>
        </td>
    </tr>
    {{end}}
</table>
{{else}}
<p>Path is a file!</p>
{{end}}
<h2>Links</h2>
<ul>
    <li>
        <a href="/fb">File Browser Root</a>
    </li>
    <li>
        <a href="/">Home page</a>
    </li>
</ul>
{{end}}
