{{define "title"}}File Browser{{end}}
{{define "content"}}
<h1>File Browser</h1>
<p>Path: {{.CurrentPath}}</p>
<h2>Sub Paths</h2>
<table>
    <tr>
        <th>File Name</th>
        <th>Nav</th>
    </tr>
    {{range .SubPaths}}
    <tr>
        <td>{{.}}</td>
        <td>
            <a href="/fb/{{.}}">Nav</a>
        </td>
    </tr>
    {{end}}
</table>

<h2>Links</h2>
<ul>
    <li>
        <a href="/fb">File Browser Root</a>
    </li>
    <li>
        <a href="/">Home page</a>
    </li>
</ul>
{{end}}
